<div class="home">
	<h2>A full circle solution to run your entire business from wherever you are</h2>
	<br />
	<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
		<div fxFlex="100px">
			<mat-icon>assignment_ind</mat-icon>
		</div>
		<div fxFlex="grow">
			<div class="info-label">Daily Duties</div>
			Monitor employee daily duties with automatic feedback to help guide their progress.
			<div class="pricing">$18/month</div>
		</div>
		<div fxFlex="100px"></div>
		<div fxFlex="100px">
			<mat-icon>people</mat-icon>
		</div>
		<div fxFlex="grow">
			<div class="info-label">Attendance</div>
			Track staff attendance to help keep them accountable.
			<div class="pricing">Included with daily duties and scheduling</div>
		</div>
		<div fxFlex="100px" fxShow fxHide.gt-xs></div>
	</div>
	<br />
	<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
		<div fxFlex="100px">
			<mat-icon>today</mat-icon>
		</div>
		<div fxFlex="grow">
			<div class="info-label">Scheduling</div>
			Manage employee availability, time off, weekly schedules, and give them the flexibility to trade at the touch of a button.
			<div class="pricing">$18/month</div>
		</div>
		<div fxFlex="100px"></div>
		<div fxFlex="100px">
			<mat-icon>build</mat-icon>
		</div>
		<div fxFlex="grow">
			<div class="info-label">Maintenance</div>
			Track needed maintenance throughout your business with instant notifications.
			<div class="pricing">$9/month</div>
		</div>
		<div fxFlex="100px" fxShow fxHide.gt-xs></div>
	</div>
	<br />
	<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
		<div fxFlex="100px">
			<mat-icon>shopping_basket</mat-icon>
		</div>
		<div fxFlex="grow">
			<div class="info-label">Inventory</div>
			Keep tabs on inventory and know exactly what you need to supply your business.
			<div class="pricing">$9/month</div>
		</div>
		<div fxFlex="100px" fxHide fxShow.gt-xs></div>
		<div fxFlex="100px">
			<mat-icon>mail</mat-icon>
		</div>
		<div fxFlex="grow">
			<div class="info-label">Connect</div>
			Send instant messages to one, some, or all of your staff by text and/or email.
			<div class="pricing">FREE!</div>
		</div>
		<div fxFlex="100px" fxShow fxHide.gt-xs></div>
	</div>
	<br />
	<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
		<div fxFlex="100px">
			<mat-icon>phonelink_ring</mat-icon>
		</div>
		<div fxFlex="grow">
			<div class="info-label">Access Anywhere</div>
			All this and more accessible via your iPhone or Android as well!
		</div>
		<div fxFlex="100px" fxHide fxShow.gt-xs></div>
		<div fxFlex="100px">
			<mat-icon>mouse</mat-icon>
		</div>
		<div fxFlex="grow">
			<div class="pricing">Bundle them all for $50/mo</div>
			<a [routerLink]="['/demo']">Request free demo!</a>
		</div>
		<div fxFlex="100px" fxShow fxHide.gt-xs></div>
	</div>
	<br />
	<br />
	<br />
	<br />
	<a [routerLink]="['/privacy']">Privacy Policy</a>
</div>